body{
	background: url("../img/fondo.png");
	font-family: Arial;
	font-size: 16px;	
}

header{
	background-color: rgba(92, 117, 169, 0.9);
	box-shadow: 0px 15px 25px #5C75A9;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

footer{
	background-color: #424242;
	box-shadow: 0px -15px 25px #424242;
	height: 200px;
	margin: 0;
	padding: 0;
	width: 100%;
}

section{
	height: 100px;
	padding: 1.5em 0em;
}