@CHARSET "UTF-8";
section h2{
	box-shadow: 0 0 0 black;
	margin:0;
	padding: 1em;
}

textarea{
	height: 10em;
	margin-left: 10%;
	margin-top: 0.7em;
	width: 70%;
}

#aclaracion{
	border-top: 0.2em solid rgba(0,0,0,0.5);
	margin: 12% 3% 3% 3%;
}

#aclaracion h4{
	color: #ccc;
	font-weight: normal;
	font-size: 1em;
	margin: 0;
	margin-top: 2%;
	margin-left: 6%;
	padding: 0;
}

#aclaracion ul{
	margin: 0;
	margin-left: 12%;
	margin-right: 15%;
	padding: 0;
}

#formMensajeAdmin span{
	color: red;
}

.buttonEnviarComentario{
	background: #aaa;
	border: 0.2em solid rgba(0,0,0,0.6);
	border-radius: 0.5em;
	float: right;
	height: 2.3em;
	margin-top: 3em;
	width: 30%;
}

.buttonEnviarComentario:hover{
	background: rgba(0,0,0,0.4);
	border: 0.2em solid rgba(255,255,255,0.7);
	color: #ccc;
}

.formMensajeAdmin{
	margin: 3% 10% 3% 10%;
	padding: 0;
}

.formMensajeAdmin div{
	margin-top: 0.6em;
	width: 100%;
}

.formMensajeAdmin div h3{
	color: #ddd;
	font-size: 1em;
	font-weight: normal;
	margin: 0;
	margin-top: 2.5em;
	padding: 0;
}

.formMensajeAdmin div label{
	color: #ddd;
	margin: 0% 2% 0% 0%;
	width: 100%;
}

.formMensajeAdmin div input{
	width: 50%;
}