@CHARSET "UTF-8";

@font-face {
   font-family: kiosko;
   src: url(../fonts/kiosko.ttf) format('truetype');
}

#regUsuario{
}

#regUsuario form{
	margin-left: 15%;
	margin-top: 2em;
	text-align: center;
	width: 70%;
}

#regUsuario form fieldset legend{
	color: #eee;
	font-family: kiosko;
	font-size: 1.7em;
}

#regUsuario form fieldset div{
	margin-left: 10%;
	margin-top: 1em;
	width: 89%;
}

#regUsuario form fieldset div label{
	color: #eee;
	float: left;
	padding-top: 0.3em;
	width: 20%;
}

#regUsuario form fieldset div input{
	height: 30px;
	width: 60%;
}

#regUsuario form fieldset div div{
	color: red;
	font-size: 0.9em;
	text-align: left;
}

#regUsuario form fieldset p{
	color: rgba(0,0,0,0.8);
	font-size: 0.9em;
	padding: 0% 2%;
	text-align: justify;
	text-indent: 0em;
}

#regUsuario form fieldset ul{
	color: rgba(0,0,0,0.8);
	font-size: 0.9em;
	list-style-type: square;
	margin: 0;
	padding: 0% 5% 0% 10%;
	text-align: justif
}

#selecTipoReg h2{
	border: 0px;
	box-shadow: 0 0 0 red;
	padding: 0px;
}

#selecTipoReg div{
	margin-top: 1.5em;
	margin-left: 12%;
}

#selecTipoReg div button{
	background: #ddd;
	border: 5px outset rgba(0, 0, 0, 0.7);
	border-radius: 8px;
	height: 50px;
	margin-left: 5%;
	width: 300px;
}

#selecTipoReg div button:hover{
	border: 5px inset rgba(0, 0, 0, 0.8);
}

#subRegUs{
	background: #ddd;
	border: 5px outset rgba(0, 0, 0, 0.7);
	border-radius: 8px;
	height: 2.4em;
	width: 50%;
}

#subRegUs:hover{
	border: 5px inset rgba(0, 0, 0, 0.8);
}

.errorCampoRegUs input{
	border: 2px solid red;
}